<h2>Edit todo item</h2>

<%= render "form.html", changeset: @changeset,
                        action: todo_item_path(@conn, :update, @todo_item) %>

<span class="float-right"><%= link "Delete", to: todo_item_path(@conn, :delete, @todo_item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
