body {
    font-family: 'Lato', sans-serif;
    background: #f5f0f0;
}

a { color: #f15438; }
a:hover { color: #EB3A1A; }

.navbar {
    margin: 0 0 1rem;
}

.logo {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("/images/planner.png");
    background-size: cover;
}

.alert:empty { display: none; }

.todo-list {
    .card-header {
        background: none;
    }

    .card-title,
    .card-title a {
        color: #333;
    }

    .todo-items {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
    }

    .todo-items .form-check-input {
        cursor: pointer;
    }
}

.project-todo-lists {
    .todo-list {
        border-radius: 0;
        border-top-width: 0;
    }

    .todo-list:first-child {
        border-top-width: 1px;
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .todo-list:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
}

.card-new-project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:hover { text-decoration: none; }
}

.form-line {
    .form-control {
        border-width: 0 0 1px;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        height: 1.25em;
    }

    ::placeholder {
        color: #999;
        font-weight: 300;
    }

    ::-webkit-input-placeholder {
        color: #999;
        font-weight: 300;
    }

    .btn {
        margin-left: 30px;
    }
}