body {
    font-family: 'Lato', sans-serif;
    background: #f5f0f0;
}

a { color: #f15438; }

.navbar {
    margin: 0 0 1rem;
}

.logo {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("/images/planner.png");
    background-size: cover;
}

.alert:empty { display: none; }

.card.todo-list .card-header {
    background-color: #fff;
}
.card.todo-list .card-title {
    color: #f15438;
}