.navbar {
    margin: 0 0 1rem;
}

.logo {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("/images/planner.png");
    background-size: cover;
}

.alert:empty { display: none; }
