<h2>New todo list</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_todo_list_path(@conn, :create, @current_project) %>

<span><%= link "Back", to: project_path(@conn, :show, @current_project) %></span>
